@model IEnumerable<Payroll.WebApp.Models.DTOs.TaxSlabMasterDTO>
<link href="~/assets/src/css/select2.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/assets/src/scss/style.css">
@{
    var renderedPayGradeIds = new HashSet<int>(); // To track rendered AreaIds
}
<style>
    .disabled-input {
        background-color: #e9ecef !important;
        color: #6c757d !important;
        cursor: not-allowed;
        opacity: 0.7;
    }
</style>
<style type="text/css">
    #TemlateSeviceDrp {
        width: 100%; /* Full width of the parent container */
        max-width: 213px; /* Maximum width */
    }

    .total-entries {
        margin-top: 10px !important; /* Adjust as needed */
        margin-bottom: 10px !important; /* Adjust as needed */
    }

</style>
<div class="alert-custom" style="display:none;">
    <!-- use class for different alerts like (alert-success, alert-danger, alert-warning, alert-primary) -->
    <!-- Alert content will be dynamically inserted based on the alert type -->
</div>
<input type="hidden" id="userPermissionsData" value='@Html.Raw(Json.Serialize(ViewBag.UserPermissions))' />

<div class="payroll-tabs-content-container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link" href="/TaxSlab/TaxSlab" id="incomeTaxTab">Income Tax Slab</a>
            <a class="nav-link" href="/TaxSlab/AssignIncomeTaxSlab" id="assignTaxTab">Assign Income Tax Regime</a>
        </div>
    </nav>


    <div class="quick-filter-container">
        <div class="btn-group-left">
            <div class="chip primary">Total Tax Slab: <span id="taxSlabCount">@ViewBag.TaxSlabCount</span></div>
        </div>
        <div class="icon-title">
            <button class="btn btn_primary add-button btn-add-hide" data-bs-toggle="modal"
                    data-bs-target="#taxslabadd" id="btnAddTaxSlab">
                <span class="sprite-icons add-light"></span>
            </button>
        </div>
    </div>
    <input type="hidden" id="sessionCompanyId" value="@ViewBag.SessionCompanyId" />
    <input type="hidden" id="sessionRoleId" value="@ViewBag.SessionRoleId" />
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-user-list" role="tabpanel"
             aria-labelledby="nav-user-list-tab">
            <div class="title-container">
                <div class="form-group" id="TemlateSeviceDrp">
                    <label for="allCompanyDropdown" class="form-label">
                        Company<sup>*</sup>
                    </label>
                    <div class="allCompanyDropdown-selection">
                        <select id="allCompanyDropdown"
                                name="allCompanyDropdown"
                                data-placeholder="Select a company"
                                class="form-control select2_search_ctm"
                                required>
                        </select>
                        <span id="allCompanyDropdown-error" class="input_error_msg"></span>
                    </div>
                </div>
            </div>
            <div class="table-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive table-roles-permission-list table-tab-content" id="taxSlabContainer">
                            @Html.Partial("_TaxSlabListPartialView", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- start add pay grade modal -->
<div class="modal fade modal-bg-puple-light" id="taxslabadd" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="taxslabaddLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-between">
                <p class="title-primary" id="formTitle">Add Income Tax Slab</p>
                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                    <span class="sprite-icons close-icon"></span>
                </button>
            </div>
            <form id="taxSlabForm">
                <div class="modal-body">
                    <div class="row">
                        <input hidden class="form-control" 
                               id="companyId" name="companyId" maxlength="50">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="regimeDropdown" class="form-label">
                                    Regime
                                    <sup>*</sup>
                                </label>
                                <div class="regimeDropdown-selection">
                                    <select id="regimeDropdown" name="regimeDropdown" data-placeholder="Select a regime" class="form-control select2_search_ctm" required>
                                    </select>
                                    <span id="regimeDropdown-error" class="input_error_msg"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="slabname" class="form-label">
                                    Slab Name
                                    <sup>*</sup>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter slab name"
                                       id="slabname" name="slabname" maxlength="50">
                                <span id="slabname-error" class="input_error_msg"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="incomefrom" class="form-label">
                                    Income From
                                    <sup>*</sup>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Income" id="incomefrom"
                                       name="incomefrom" style="text-align: right;">
                                <span id="incomefrom-error" class="input_error_msg"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="incometo" class="form-label">
                                    Income To
                                    <sup>*</sup>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Income" id="incometo"
                                       name="incometo" style="text-align: right;">
                                <span id="incometo-error" class="input_error_msg"></span>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group mb-0">
                                <label for="taxpayable" class="form-label">
                                    Tax Payable %
                                    <sup>*</sup>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Tax Payable %" id="taxpayable"
                                       name="taxpayable" style="text-align: right;">
                                <span id="taxpayable-error" class="input_error_msg"></span>
                            </div>
                        </div>
                        <!-- Active Toggle (initially hidden) -->
                        <div id="toggleTaxSlabContainer" class="form-group mb-3" style="display: none;">
                            <label class="form-label" for="taxSlabActiveToggle">Status</label>
                            <div class="form-check form-switch d-flex align-items-center">
                                <input type="checkbox" id="TaxSlabActiveToggle" class="form-check-input" role="switch">
                                <label class="form-check-label ml-2" for="TaxSlabActiveToggle" id="activeStatusLabel">Inactive</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <!-- <div class="d-flex align-items-center justify-content-between"> -->
                    <button type="button" class="btn btn-transparent-danger" id="btnResettaxSlab">Reset</button>
                    <div class="btn_group">
                        <button type="button" class="btn btn_primary_outline_md" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn_primary loader-dot-pulse" id="btnSavetaxSlab">Yes</button>
                    </div>

                    <!-- </div> -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end add pay grade modal -->
@section Scripts {
    <script src="~/assets/src/js/select2.min.js"></script>
    <script src="~/assets/src/custom-js/script.js"></script>
    <script src="~/assets/src/custom-js/select2.js"></script>
    <script src="~/application/js/taxslab/taxslab.js"></script>
    <script src="~/application/js/common/form-validation.js" asp-append-version="true"></script>
}