@model Payroll.WebApp.Models.Employee

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Employee Details</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>Employee Details</h1>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Position</dt>
            <dd class="col-sm-9">@Model.Position</dd>

            <dt class="col-sm-3">Salary</dt>
            <dd class="col-sm-9">@Model.Salary.ToString("C")</dd>
        </dl>
        <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
    </div>
</body>
</html>
